.MovieList {
  margin-top: 10%;
}

.MovieList .container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 24px;
  background-color: #546e7a;
  color: #fff;
}

.MovieList .container .poster {
  flex-basis: 0;
}

.MovieList .container .description {
  margin-left: 10px;
  font-weight: 300;
  padding: 5px;
}
