.UsersMovieList {
  padding-top: 10%;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #5b7a8a;
}

.UsersMovieList .container {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 15px;
  background-color: #3c4e57;
  box-shadow: 2px 2px 2px rgb(46, 46, 46);
  color: #fff;
  flex-basis: 0;
}

.UsersMovieList .container img {
  width: 10em;
}

.UsersMovieList .container .description {
  font-size: 1em;
  font-weight: 300;
  padding: 5px;
}

.UsersMovieList .container .description h4 {
  font-size: 1em;
}

.fa.fa-trash-o {
  cursor: pointer;
  font-size: 1em;
  padding: 3px 5px 4px 5px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 50%;
  color: rgb(168, 81, 81);
  transition: 0.3s ease;
}

.fa.fa-trash-o:hover {
  color: rgb(240, 68, 68);
  background-color: rgba(197, 197, 197, 0.712);
  transition: 0.3s ease;
}

@media (max-width: 600px) {
  .UsersMovieList .container img {
    width: 8em;
  }
}

@media (max-width: 430px) {
  .UsersMovieList .container img {
    width: 5em;
  }
  .UsersMovieList .container .description h4 {
    font-size: 0.8em;
  }

  .UsersMovieList .container .description p {
    font-size: 0.8em;
    font-weight: 300;
    padding: 5px;
  }
}
