.MovieSummary .container-box {
  display: flex;
  justify-content: center;
  color: white;
}

.MovieSummary .poster {
  margin: 10px;
  padding: 0;
  display: inline;
}

.MovieSummary .description h3 {
  font-size: 2.3em;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.MovieSummary .description {
  margin: 10px;
  display: inline;
}

.MovieSummary .description .date {
  margin-left: 10px;
  color: rgb(197, 197, 197);
}

.MovieSummary .goto-trailer {
  text-decoration: none;
  background-color: rgb(219, 25, 25);
  color: white;
  padding: 8px 14px;
  font-weight: 300;
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
}
.MovieSummary .goto-trailer:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.3s ease-in-out;
}

.MovieSummary .add-movie {
  margin-left: 6px;
  display: inline-block;
  background-color: transparent;
  padding: 6px 12px;
  font-weight: 300;
  margin-top: 5px;
  transition: 0.3s ease-in-out;
  font-size: 0.9em;
  text-decoration: none;
}

.MovieSummary .add-movie:hover {
  background-color: rgba(104, 104, 104, 0.432);
  transition: 0.3s ease-in-out;
}

.MovieSummary .add-movie:active,
.MovieSummary .add-movie:focus {
  outline: none;
}

.MovieSummary .description .website {
  text-decoration: none;
  font-weight: 300;
  color: #9cced4;
  border-bottom: 1px solid transparent;
}

.MovieSummary .description .website:hover {
  border-bottom: 1px solid #9cced4;
}

.MovieSummary .description .certification {
  margin-left: 10px;
  font-size: 0.8em;
  padding: 2px 4px;
  margin-bottom: 2px;
  border: 0.5px solid white;
}

.MovieSummary .description .runtime {
  margin-left: 10px;
}

.MovieSummary .description .summary {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.6;
}

.MovieSummary .description .genres,
.MovieSummary .description .casts {
  font-weight: 0.9em;
  color: rgb(197, 197, 197);
}

@media (max-width: 999px) {
  .MovieSummary .poster img {
    width: 200px;
  }

  .MovieSummary .description {
    font-size: 0.9em;
  }
}

@media (max-width: 700px) {
  .MovieSummary .poster img {
    width: 120px;
  }

  .MovieSummary .description {
    font-size: 0.7em;
  }
}
